<%= form_for(sheetrow) do |f| %>
  <% if sheetrow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sheetrow.errors.count, "error") %> prohibited this sheetrow from being saved:</h2>

      <ul>
      <% sheetrow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <script type="text/javascript">
  $(document).ready(function() {
    $("input:file.validation--failed").parents('input-field').find("input:text.file-path").first().addClass('validation--failed invalid');
    Materialize.updateTextFields();

   $('.datepicker').pickadate({
      format: 'yyyy-mm-dd',
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });
  });
  </script>
  <div class="input-field">
    <%= f.label :order_num %>
    <%= f.number_field :order_num %>
  </div>

  <div class="input-field">
    <%= f.label :scene_type %>
    <%= f.text_field :scene_type %>
  </div>

  <div class="input-field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date, class: "datepicker" %>
  </div>

  <div class="input-field">
    <%= f.label :end_date %>
    <%= f.text_field :end_date, class: "datepicker" %>
  </div>

  <div class="input-field">
    <%= f.label :comment_title %>
    <%= f.text_field :comment_title %>
  </div>

  <div class="input-field">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: "materialize-textarea" %>
  </div>

  <br>

  <div class="actions waves-effect waves-light btn">
    <%= f.submit %>
  </div>

<% end %>
