<p id="notice"><%= notice %></p>

<h1>経歴一覧</h1>

<%= link_to '行を追加する', new_sheetrow_path %>
<table>
  <thead>
    <tr>
      <th>行</th>
      <th>現場</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>概要</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sheetrows.each do |sheetrow| %>
      <tr>
        <td width="40" rowspan="2"><%= sheetrow.order_num %></td>
        <td width="40" rowspan="2"><%= sheetrow.scene_type %></td>
        <td width="100" rowspan="2"><%= sheetrow.start_date %></td>
        <td widtH="100" rowspan="2"><%= sheetrow.end_date %></td>
        <td><%= sheetrow.comment_title %></td>
        <td rowspan="2"><%= link_to 'Edit', edit_sheetrow_path(sheetrow) %></td>
        <td rowspan="2"><%= link_to 'Copy', copy_sheetrow_path(sheetrow) %></td>
        <td rowspan="2"><%= link_to 'Destroy', sheetrow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td height="100" width="400"><%= sheetrow.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
